<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/home/user/IdeaProjects/ForusTestAutomation/ForusTestAutomation">
        <classes>
            <class name="com.forus.qa.testcases.AnalyticsTest">
                <methods>
                    <include name="completeFlowTest"/>
                </methods>
            </class>
            <!-- Excluded LoginPageTest -->
            <class name="com.forus.qa.testcases.WalletPageTest">
                <methods>
                    <include name="completeFlowTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
